@page
@model ForgotPasswordModel

@{
	Layout = null;
	ViewData["Title"] = "¿Olvidaste tu contraseña?";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<base href="../../" />
	<title>Recuperación de contraseña</title>
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="Refinanciados" />
	<meta property="og:url" content="https://keenthemes.com/metronic" />
	<meta property="og:site_name" content="Keenthemes | Metronic" />
	<link rel="canonical" href="https://preview.keenthemes.com/metronic8" />
	<link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
	<!--begin::Fonts(mandatory for all pages)-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
	<!--end::Fonts-->
	<!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
	<link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
	<link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
	<!--end::Global Stylesheets Bundle-->
	<script>// Frame-busting to prevent site from being loaded within a frame without permission (click-jacking) if (window.top != window.self) { window.top.location.replace(window.self.location.href); }</script>
</head>
<!--begin::Body-->
<body id="kt_body" class="app-blank bgi-size-cover bgi-position-center bgi-no-repeat">
	<!--begin::Theme mode setup on page load-->
	<script>var defaultThemeMode = "light"; var themeMode; if (document.documentElement) { if (document.documentElement.hasAttribute("data-bs-theme-mode")) { themeMode = document.documentElement.getAttribute("data-bs-theme-mode"); } else { if (localStorage.getItem("data-bs-theme") !== null) { themeMode = localStorage.getItem("data-bs-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-bs-theme", themeMode); }</script>

	<!--end::Theme mode setup on page load-->
	<!--begin::Root-->
	<div class="d-flex flex-column flex-root" id="kt_app_root">
		<!--begin::Page bg image-->
		<style>
			body {
				background-image: url('assets/media/auth/bg3.jpg');
			}

			[data-bs-theme="dark"] body {
				background-image: url('assets/media/auth/bg3-dark.jpg');
			}

		</style>
		<!--end::Page bg image-->
		<!--begin::Authentication - Signup Welcome Message -->
		<div class="d-flex flex-column flex-center flex-column-fluid">
			<!--begin::Content-->
			<div class="d-flex flex-column flex-center text-center p-10">
				<!--begin::Wrapper-->
				<div class="card card-flush w-lg-500px">
					<div class="card-body py-15 py-lg-25">
						<!--begin::Logo-->
						<div class="mb-10">
							<img id="logoWhite" alt="Logo" src="~/assets/media/logos/LogoAnimadoRefinanciados.gif" class="h-55px h-lg-65px app-sidebar-logo-default" />
							<img id="logoEstaticoWhite" alt="Logo" src="~/assets/media/logos/LogoRefinanciadosStatic.png" style="display:none" />
							<img id="logoAnimadoWhite" alt="Logo" src="~/assets/media/logos/LogoAnimadoRefinanciados.gif" style="display:none" />
						</div>
						<!--end::Logo-->
						<!--begin::Message-->
						<div class="fs-6 fw-semibold text-dark mb-10">
							<h3>¿Olvidaste tu contraseña?</h3>
							¡No te preocupes! Escribe tu dni o carnet de extranjería para enviar un código de verificación al numero asociado a tu cuenta.
						</div>
						<!--end::Message-->
						<!--begin::Form-->

						<form class="my-4" id="account" method="post">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>

							<div class="form-floating mb-10">
								<input asp-for="Input.Username" class="form-control text-dark uppercase-input" />
								<label class="form-label text-dark">Dni o Carnet de extranjería</label>
								<span asp-validation-for="Input.Username" class="text-danger"></span>
							</div>

							<button type="submit" class="w-100 btn btn-lg btn-dark mb-1">Recuperar contraseña</button>
							<a type="button" class="w-100 btn btn-lg" style="background-color:#2FBBAE" asp-page="./Login">Regresar</a>
						</form>
						<!--end::Form-->
						<!--begin::Illustration-->
						@*<div class="mb-0">
						<img src="~/assets/media/auth/please-verify-your-email.png" class="mw-100 mh-300px theme-light-show" alt="" />
						<img src="~/assets/media/auth/please-verify-your-email-dark.png" class="mw-100 mh-300px theme-dark-show" alt="" />
						</div>*@
						<!--end::Illustration-->
					</div>
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Content-->
		</div>
		<!--end::Authentication - Signup Welcome Message-->
	</div>
	<!--end::Root-->
	@section Scripts {
		<partial name="_ValidationScriptsPartial" />
	}

		<!--begin::Javascript-->
		<script>var hostUrl = "assets/";</script>

		<!--begin::Global Javascript Bundle(mandatory for all pages)-->
		<script src="~/assets/plugins/global/plugins.bundle.js"></script>
		<script src="~/assets/js/scripts.bundle.js"></script>
		<!--end::Global Javascript Bundle-->

		<script>
			const imgAnimada = document.getElementById('logoAnimadoWhite');
			const imgEstatico = document.getElementById('logoEstaticoWhite');

			// Función para cambiar la imagen al pasar el mouse por encima
			function cambiarAlPasarMouse() {
				const img = document.getElementById('logoWhite');
				img.src = imgAnimada.src;
			}

			// Función para cambiar la imagen al dejar de pasar el mouse por encima
			function cambiarAlSalirMouse() {
				const img = document.getElementById('logoWhite');
				img.src = imgEstatico.src;
			}

			// Función para cambiar la imagen después de ciertos segundos
			function cambiarDespuesDeSegundos() {
				const img = document.getElementById('logoWhite');
				img.src = img.src;
				setTimeout(function () {
					img.src = imgEstatico.src;
					// Agregar eventos al elemento de la imagen

					img.addEventListener('mouseover', cambiarAlPasarMouse);
					img.addEventListener('mouseout', cambiarAlSalirMouse);
				}, 4000); // Cambiar después de 4 segundos (4000 milisegundos)
			}

			cambiarDespuesDeSegundos();


		</script>

		<!--end::Javascript-->
	</body>
	<!--end::Body-->
	</html>
