@{
	ViewData["Title"] = "Home Page";
}
<style>
	/* Estilo para la pantalla de carga */
	#loader {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: white; /* Cambia el color de fondo a blanco o cualquier color sólido que desees */
		z-index: 9999;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 1; /* La pantalla de carga será sólida sin transparencia */
	}

	/* Estilo para el spinner o indicador de carga */
	.spinner {
		min-width: 120px;
		min-height: 120px;
		max-width: 250px;
		max-height: 250px;
		width: 40%;
		height: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

</style>
<script>
	document.addEventListener('DOMContentLoaded', function () {
		const loader = document.getElementById('loader');
		const spinner = document.getElementById('spinner');

		// Mostrar la pantalla de carga al iniciar la carga de la página
		loader.style.display = 'block';
		spinner.src = spinner.src;

		// Ocultar la pantalla de carga después unos segundos
		setTimeout(function () {
			loader.style.display = 'none';
			var form = document.getElementById("formLogout");
			if (form) {
				form.submit(); // Envía el formulario
			}
		}, 4900);
	});
</script>



<div id="loader">
	<img id="spinner" src="~/assets/media/loaders/CargaSalidaSiscop3.gif" alt="Cargando..." class=" app-sidebar-logo-default theme-light-show spinner" />
	<form hidden id="formLogout" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" asp-route-logout="1" method="post">
		<a class="menu-link px-5" id="logoutLink">Salir</a>
	</form>
</div>